body {
    overflow-x: hidden !important;
}
.customInputContainer {
    padding: 15px;
    width: 30%;
}
.searchDiv {
    border-radius: 5px;
    background: white;
    padding: 30px;
}
.customHeading {
    margin: 0;
    color: white;
}
.centerDiv {
    width: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px 0;
    border-radius: 5px;
}
.mobileNav {
    display: none
}
.myTopnav {
    display: block;
    text-align: right;
    padding: 10px;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #FD78AE;
}
.sidenav a {
    padding: 9px;
    text-decoration: none;
    font-size: 18px;
    color: black !important;
    display: block;
    transition: 0.3s;
}
.customLink {
    margin-right: 10px;
    color: white;
}

.searchContainer {
    background-image: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.71) 100%), url(https://en.amerikanki.com/wp-content/uploads/2014/07/Summer-Family-Dinner-Ideas.jpg);
    background-repeat: no-repeat;
    height: 75vh !important;
    /*520px !important;*/
    left: 0px;
    position: relative;
    background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    /*overflow-y: hidden;
              overflow-x: hidden;*/
}
body {
    font-family: Circular, sans-serif;
    color: rgb(53, 53, 48);
    background-color: rgb(255, 255, 255);
    /*background-color: rgb(251, 249, 238) !important;*/
    /*Changed on 15 April by Sarab*/
    margin: 0;
    font-size: 16px;
    line-height: 1.42857143;
    background-color: #fff;
}
a {
    color: inherit !important;
    text-decoration: none !important;
    /*Changed on 15 April by Sarab*/
}
.headingSearch {
    font-size: 64px;
    line-height: 65px;
    font-family: Circular, sans-serif;
    font-weight: 600;
    box-sizing: border-box;
    color: white;
    text-align: center;
    margin-bottom: 15px;
}

.ui-autocomplete-category{
    font-weight: bold;
    padding: 5px;
}

.ui-widget-content.autocomplete-menu{
    background-color: #ffffff;
}

.ui-widget-content.autocomplete-menu .ui-state-active {
    border: 1px solid #ea3c53;
    color: #ed2939;
}

.ui-widget.autocomplete-menu{
    font-family: Circular,sans-serif;
    font-size: 14px;
}

.searchSection{
    text-align: center;
}

._logo {
    /*background-image: url(https://thumbs.dreamstime.com/b/spoon-fork-utensils-eat-icon-green-background-vector-illustration-eps-81070681.jpg);*/
    background-image: url(../IMG/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 60px;
    min-width: 160px;
    /*background-position: 50%;*/
    display: inline-block;
    image-rendering: -webkit-optimize-contrast;
}

.spnHamBurger{
    font-size:30px;
    cursor:pointer;
    padding: 10px;
}

.dvLogo{
    display: inline-block;
    float: left;
}

.dvNav{
    display: inline-block;
    float: right;
}

.navLinks{
    color: white !important;
    font-size: 14px;
    padding: 0 14px !important;
    cursor: pointer;
    text-decoration: none !important;
    background-color: transparent;
    font-weight: bold;
}

.dvEventsMain{
    width: 85%;
    margin: 20px auto;
}

.sectionHeadings{
    font-size: 24px;
    line-height: 30px;
    font-family: Circular, sans-serif;
    font-weight: 600;
    color: inherit;
}

.dvEvtTiles{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(260px,1fr));
    grid-gap: 24px;
    width: 100%;
    content: ' ';
    border-radius:4px;
}

.btn-success{
    color: #fff !important;
}

/* Cards Start */

.event-tile {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2) !important;
    transition: 0.3s;
    width: 100% !important;
    /*margin: 8px 5px 17px 12px;*/
}

.event-tile:hover { box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2) !important; }

.imgEvents{
    width:100%;
    height: 190px;
}

.eventDesc {
    padding: 2px 16px;
    background-color: #fff !important;
    border: 1px solid rgb(143, 142, 135) !important;
}

.dvTileContents{
    padding: 10px 5px 10px 5px !important;
    height: 135px;
}

.spn-TileContents{
    padding-top: 5px !important;
    display: inline-block;
}

.spn-TitleHeading{
    color: rgb(53, 53, 48);
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
}

.imgLocation{
    height: 20px;
    width: 20px;
}

.paddingLeft5{padding-left: 5px;}
.paddingLeft10{padding-left: 10px;}
.gold{color:#fec00f;}
.paddingLeft3{padding: 3px;}

.dvButtons{
    padding: 20px 0px 0px 0px;
    height: 50px;
    display: flex;
    border: 1px solid rgb(143, 142, 135);
    border-top: 1px solid black;
    background-color: white !important;

}

.imgHost{
    min-width: 36px;
    max-width: 36px;
    min-height: 36px;
    max-height: 36px;
    background-color: rgb(246, 246, 246);
    background-size: cover;
    object-fit: cover;
    border-radius: 50%;
    margin: -10px 15px 0px 20px;
}

.spn-HostedBy{
    color: rgb(143, 142, 135);
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    margin: -7px 0px 0px -11px;
}

.spnHost{
    color: rgb(53, 53, 48);
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    margin: 5px 0px 0px -11px;
}

.dvHost{
    width: 90%;
}

.imgShare{
    height: 20px;
    margin: -5px 0px;
    cursor: pointer;
}

.carousel-itemHeading{
    text-align: center;
    font-family: Circular, sans-serif;
}

.carouselLeft{
    left: -60px !important;
    color: darkgreen !important;
    opacity: .9;
    background-image: linear-gradient(to right,transparent 0,transparent 100%) !important;
}

.carouselRight{
    right: -60px !important;
    color: darkgreen !important;
    opacity: .9;
    background-image: linear-gradient(to right,transparent 0,transparent 100%) !important;
}

.carousel-indicators li{
    /*background-color: #5cb85c;*/
    border: 1px solid #4cae4c;
}

.carousel-indicators .active{
    background-color: #5cb85c;
}

.carouselContent {
    padding: 0px 97px;
}
/* Cards End */

/*Media Query Start*/
@media screen and (max-width: 767px) {
    .myTopnav {
        display: none
    }
    .mobileNav {
        display: block;
        text-align: right;
    }
    .centerDiv {
        width: 90%;
    }
    .searchDiv {
        padding: 10px;
    }
    .btnSearch {
        width: 100%;
    }
    .searchContainer {
        height: 650px !important;
        /*height: 100vh !important;*/
    }
    .headingSearch {
        font-size: 44px;
        line-height: 45px;
        text-align: center;
        margin: 40px 0px 15px 0px;
    }
    .headingSearch2 {
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        /*margin: 0px 0px 15px 0px;*/
    }

    /* Search autocomplete WIP Marju 22/04/2020*/
   .ui-menu .ui-autocomplete-category {
       color: #2e6da4;
       font-weight: bold;
        padding: .2em .4em;
        margin: .8em 0 .2em;
        line-height: 1.5;
    }

   ul.ui-autocomplete {
       list-style-type: none !important;
   }


    .hidelbl {
        display: none;
    }
    .navLinks{
        padding: 10px 14px !important;
    }

    .carouselLeft {
        /*left: -5px !important;*/
        display: none;
    }

    .carouselRight {
        /*right: -5px !important;*/
        display: none;
    }

    .carouselContent{
        padding: 0px 20px;
    }

    .dvEvtTiles {
        grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    }
}

@media screen and (max-width: 991px) {
    .centerDiv {
        width: 95%;
    }
    .btnSearch {
        margin: 20px 0px 0px 0px;
    }
    .hidelbl {
        display: none;
    }
    .btnSearch {
        width: 100%;
    }
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) {
    .navLinks{
        padding: 8px !important;
    }
    .carouselContent {
        padding: 0px 60px;
    }
    .carouselLeft {
        left: -10px !important;
    }

    .carouselRight {
        right: -10px !important;
    }
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px

*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .centerDiv {
        width: 95%;
    }
    .carouselContent {
        padding: 0px 80px;
    }
}

/* For Pixel 2XL amd IPhone X*/
@media (min-width: 812px) and (max-width: 823px) and (orientation: landscape) {
    .searchContainer {
        height: 650px !important;
    }
    .headingSearch {
        font-size: 44px;
        line-height: 45px;
        text-align: center;
        margin: 25px 0px 15px 0px;
    }
    .headingSearch2 {
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        /*margin: 0px 0px 15px 0px;*/
    }
    .navLinks{
        padding: 0 10px !important;
    }
    .carouselContent {
        padding: 0px 60px;
    }
    .carouselLeft {
        left: -10px !important;
    }
    .carouselRight {
        right: -10px !important;
    }
}

/* For IPad Pro portrait*/
@media only screen
and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait)  {
    .searchContainer {
        height: 40vh !important;
    }
    .centerDiv {
        width: 95%;
    }
    .carouselContent {
        padding: 0px 80px;
    }
}

/* For IPad Pro landscape*/
@media only screen
and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape)  {
    .searchContainer {
        height: 55vh !important;
    }
    .carouselLeft {
        left: -20px !important;
    }
    .carouselRight {
        right: -20px !important;
    }
}

/*
 ##Device = Desktops
 ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
    .searchContainer {
        height: 75vh !important;
    }
}
/*Media Query End*/

/* 26 April changes start*/

.centered{
  position: absolute;
  /*background-color: black;*/
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  transform: translate(50%, -100%);
}

.imgEvents2 {
    border-radius: 8px;
    width:100%;
    height: 190px;
}

.imgCarouselContent{
    /*margin-left: 97px;*/
}

.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td, .table-condensed>thead>tr>th {
    padding: 10px;
}

.btnDropDown{
    width:100%;
    text-align: left !important;
}

.itemList{
    width: 100%;
}
/* 26 April changes end*/
